<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="Width=device_width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Inicio de Sesión</title>
</head>
<body>
<div class="container">

    <form action="iniciosesion" method="post">
        <h1>Inicio de sesión</h1>
       <label for="usuario">Ingresa tu nombre</label>
       <input type="text" name="usuario" id="usuario" required>
        <br>
       <label for="contrasena">Ingresa tu contraseña</label>
       <input type="password" name="contrasena" id="contrasena" required>
        <br>
       <button type="submit">Verificar</button>

    <div class="mensaje-container">
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
    </div>
     </form>
</div>
</body>
</html>